DB_URL=
DB_USERNAME=
DB_PASSWORD=

GEMINI_API_KEY=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

FRONTEND_URL=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:3000

TOKEN_ENCRYPTOR_PASSWORD=
TOKEN_ENCRYPTOR_SALT=